


// your ui base template colors 
$white: #fff;
$black: #000;
$very-light-blue: #edf2f5;
$main-blue: #4a90e2;
$base-blue: #261553;
$light-grey: #D7D7D7;
$pale-grey: #a0a0a0;
$notif-success: #25fa5b;


// Plain text colors
$base-persian-font: "IRANsans";
$main-text-color: #5a5a5a;

$base-font-size: 16px;

// add any variable that you want...
// ...